Design.docx
training neural networks with genetic algorithms.pdf
*.user
*.vcxproj
*.vcxproj.filters
*.stash
*.sln

blas_win64_MT.lib
blas_win64_MT.dll
lapack_win64_MT.lib
lapack_win64_MT.dll


/output
/debug
/release
/win32
/.vs
/x64